# Ignore environment files
.env
*.env

# Airflow logs & db
logs/
airflow.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/
.venv/

# IDE files
.vscode/
.idea/
*.code-workspace
